* {
    margin-top: 0px;
    padding: 0px;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
  }

.fnt{
    font-size: smaller;
}

.newfont{
  font-style: Serif;
}
.mrg{
  margin-top: 50px;
}
.loanthing{
  margin-top: 50px;
}